body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1em;
}

header img {
    width: 23px;
    align-content: center;
}

header button {
padding: 0;
background-color: white;
border: none;
font-size:1em;
display:grid;
place-items:center;
border-radius:50%;
}

header button span {
grid-row-start:1;
grid-column-start: 1;
width: 1.2em;
height: .2em;
background-color: black;

transition: .5s;

}


header button span:nth-of-type(1) {
    transform: translateY(-.4em);
}


header button span:nth-of-type(3) {
    transform: translateY(.4em);
}



header button[aria-expanded="true"] span:nth-of-type(1) {
    transform: rotate(45deg)
    scaleX(1.25);
}

header button[aria-expanded="true"] span:nth-of-type(2) {
opacity: 0;
}

header button[aria-expanded="true"] span:nth-of-type(3) {
transform: rotate(-45deg)
scaleX(1.25);
}





section:first-of-type {
    display: grid;
    grid-template-rows: 2;
}

section:first-of-type h1 {
grid-row-start: 2;
grid-row-end: 3;
/* position: absolute; */
}

section:first-of-type video {
    grid-row-start: 1;
  width: 100%;
    height: 80vh;      
    object-fit: cover;  
    display: block;
}
